<div class="grid grid-cols-1 lg:grid-cols-2 gap-2 m-10">
  <div class="">
    <button class="float-right"> Add</button>
    <h1 class="text-5xl mt-5 font-bold text-center">
      Company Info
    </h1>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.companyName}}</td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email Address</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef>Company Logo</th>
          <td mat-cell *matCellDef="let element">{{element.companyLogo}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="clickCompany(row)"
            [class.demo-row-is-clicked]="false"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
    </div>
  </div>
  <div class="ml-10">
    <mat-card class="mt-12 mb-5 p-5">
      <mat-card-header>Company Info</mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad explicabo nobis ratione laudantium neque mollitia expedita in. Blanditiis quam omnis, magni odio necessitatibus rem aliquam tempore odit quod soluta voluptas!
      </mat-card-content>
      <mat-card-actions>
        <button>Edit</button>
      </mat-card-actions>
    </mat-card>
    <br><br>
    <div></div>
  </div>
</div>