<div class="p-10">
    <h1>{{updateMode? "Update" : "Add"}} Company Details</h1>
    <form [formGroup]="userFormGroup">
        <mat-form-field class="w-full">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullname">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Company</mat-label>
            <mat-select formControlName="company" class="w-full">
                <mat-option *ngFor="let c of companyNameIds" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
        </mat-form-field>     
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Photo</mat-label>
            <input matInput formControlName="photo">
        </mat-form-field>
    </form>
    <button (click)="submitUser()">Submit</button>
</div>